@import "tailwindcss";

@theme {
  /* Warna BUMIVERSA */
  --color-bumiversa-50: #f0f9ff;
  --color-bumiversa-500: #0ea5e9;
  --color-bumiversa-900: #0c4a6e;

  /* Warna Netral */
  --color-neutral-50: #f9fafb;
  --color-neutral-600: #4b5563;
  --color-neutral-850: #1f2937;

  /* Layout & Spacing */
  --max-w-content: 72rem; /* Setara dengan 1152px */
}

/* Biarkan variabel font bawaan Next.js di bawah ini tetap ada */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
